<!-- <div style="display: flex; justify-content:center">
    <div style="width: 300px">
        <div
            style="background: url('https://images.squarespace-cdn.com/content/v1/533e68b6e4b076ea49931213/1551708296458-0QCCH02HDVYMO3XCU5EW/ke17ZwdGBToddI8pDm48kBtpJ0h6oTA_T7DonTC8zFdZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIBqmMCQ1OP129tpEIJko8bi_9nfbnt8dRsNvtvnXdL8M/one-learning-a-day.png'); width: 300px;height: 300px; background-size: contain">
        </div>
        <p style="text-align: center; margin-bottom: 2rem;">
            Xác nhận địa chỉ email của bạn để giúp chúng tôi đảm bảo tài khoản của bạn luôn được bảo vệ
        </p>
        <a href="${url}"
            style="text-align: center; width: 100%; display: block; box-sizing: border-box;
                padding: 10px 20px; background: orangered; color: white; font-weight: bold; text-decoration: none;border-radius: 100px;">
            Xát thực email
        </a>
    </div>
</div> -->
<div style="background: #f5f5f5;">
    <div style="padding: 5rem 10rem; text-align: center; ">
        <div style="display:inline-block; width: 460px; text-align: center; background: white; padding: 4rem 5rem">
            <p style='color: #f97029; font-size: 3rem;font-weight: bold; line-height: 2rem; margin: 0;'>
                PolyMentor
            </p>
            <p style=' font-size: 1rem; font-weight: bold'>Xát thực địa chỉ email của bạn</p>
            <p style="letter-spacing: 1px;"> Gởi Ngọc Nhất, </p>

            <p>PolyMentor rất vui khi bạn tham gia vào cộng đồng sinh viên Fpolytechic. Bạn vui lòng nhấn vào nút ở
                dưới để xát thực email.</p>
            <p>
                <a href=""
                    style="color:white;text-decoration: none; border-radius: 3px; padding: 6px 12px; background: #f97029;">
                    Xát thực tài khoản
                </a>
            </p>

            <a href="asdajsldk "></a>
        </div>
    </div>
</div>